* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

  font-family: 'Arial', sans-serif;

  background-color: #f0f0f0;
  color: #333;
}

body {
  height: 100%;

  background-color: #f0f0f0;
  color: #333;

  line-height: 1.6;
}


